* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: white;
    background-blend-mode: darken;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right top;
    display: block;
    flex-direction: column;
    font-family: 'Karla', sans-serif;
    color: white;
}

header {
    background-color: #a75c57;
    height: 60px;
    width: 99vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10vw;
}

header h1 {
    font-size: 18px;
    /* margin-right: 750px; */
    position: relative;
    top: 20px;
    right: 600px;
    font-family: 'Roboto';
}

header h2 {
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -20px;
    font-family: 'Roboto';
    color: #131212;
}

.logo img {
    width: 200px;
    margin-left: 60px;
}

.links > ul {
    display: flex;
    gap: 20px;
    color: #000000;
    list-style-type: none;
    /* margin-top: 60px; */
}

.links a {
    text-decoration: none;
    font-size: 20px;
    transition: all 1s;
    user-select: none;
    color: #000000;
}
p {
    height: 10%;
    color: rgb(129, 129, 129);
    text-align: center;
    padding: 100px;
    font-size: 50px;
}
main {
    background-color: khaki;
    height: 60%;
}
