* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 99vw;
    height: 100vh;
    background-color: white;
    background-blend-mode: darken;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right top;
    display: block;
    flex-direction: column;
    font-family: 'Karla', sans-serif;
    color: white;

}

header {
    background-color: #A75C57;
    height: 60px;
    width: 99vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10vw;
}

header h1 {
    font-size: 18px;
    /* margin-right: 750px; */
    position: relative; 
    top: 20px; 
    right: 600px;
    font-family: 'Roboto';
}
header h2 {
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -30px;
    font-family: 'Roboto';
    color: #131212;
}

.logo img {
    width: 200px;
    margin-left: 60px;
}

.links > ul {
    display: flex;
    gap: 20px;
    color: #000000;
    list-style-type: none;
    /* margin-top: 60px; */
}  

.links a {
    text-decoration: none;
    font-size: 20px;
    transition: all 1s;
    user-select: none;
    color: #000000;
}

/* .links a:hover {
    color: red;
} */

/* main {
    padding: 20vh 10vw;
    flex-grow: 1;
} */

.pesquisa-container {
    width: 150%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -150px;
}
.pesquisa-container input {
    width: 80%;
    height: 50px;
    font-size: 1.5rem;
    border: none;
    outline: none;
    padding-left: 15%;
}

.pesquisa-container::before {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    content: '\1F50D';
    position: absolute;
    left: 50%;
    font-size: 1rem;
}

main {
    /* background-color: #C68E8D;
    height: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10vw; */

    /* border: 10px solid #f00; */

    width: 1700px; 
    height: 700px; 
    display: flex;
    background-color: #C68E8D; 
    margin: 100px;

}

.links {
    width: 20px;
    height: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
    margin-left: 850px;
}

/* .pagInicial {
    width: 100%;
    height: 100vh;
    background-color: aqua;
    background-size: cover;
    background-position: right top;
    display: flex;
    flex-direction: column;
} */

footer {
    /* padding: 4vh 10vw;
    text-align: center;
    height: 40px; */

    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    /* font-style: italic; */
}